.homepage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.homepage-left-container,
.homepage-right-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-right-container {
  padding-left: 2%;
}
.homepage-head {
  font-size: 6vw;
  line-height: 6vw;
  margin-bottom: 4%;
}

.homepage-para {
  font-size: 1.8vw;
  color: #4e4e4e;
  margin-bottom: 4%;
  width: 70%;
}

.homepage-btn {
  font-size: 1.3vw;
  background-color: #1a73e8;
  color: #ffffff;
  border-radius: 5px;
  padding: 2%;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  max-width: 150px;
}
.homepage-btn:hover {
  background-color: #1758ad;
}

.img-responsive {
  width: 100%;
}

/* Adding for Tab and smaller devices */
@media screen and (max-width: 800px) {
  .homepage-left-container,
  .homepage-right-container {
    width: 40%;
  }
  .homepage-right-container {
    padding-left: 0px;
  }
  .homepage-btn {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 430px) {
  .homepage-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .homepage-left-container {
    padding-top: 30px;
  }
  .homepage-left-container,
  .homepage-right-container {
    width: 80%;
  }
  .homepage-btn {
    font-size: 2.3vw;
  }
}
