.article-container {
  width: calc(100% - 1rem);
  padding: 2% 0.5rem;
}
.res-heading {
  font-weight: bold;
  color: gray;
}

@media screen and (max-width: 800px) {
  .article-container {
    border-left: none;
  }
}
