.page-container {
  width: 100%;
}

a {
  text-decoration: none;
  color: #185abc;
  font-weight: bold;
}

a.video {
  margin-left: 10px;
  color: #ffffff;
  background-color: red;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-flex;
}

/* a.video:after {
  content: "►";
  margin-left: 2px;
  margin-top: auto;
} */

a.ref-link {
  margin-left: 10px;
  color: #ffffff;
  background-color: #185abc;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-flex;
}
@media screen and (max-width: 800px) {
  .page-container {
    height: auto;
    padding-top: 50px;
  }
}

@media screen and (max-width: 430px) {
  .page-container {
    padding-top: 0px;
  }
}
