.page-container {
  height: 92.5vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: #185abc;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .page-container {
    height: auto;
    padding-top: 50px;
  }
}

@media screen and (max-width: 430px) {
  .page-container {
    padding-top: 0px;
  }
}
