.page-container {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #185abc;
  font-weight: bold;
}

a.video {
  margin-left: 10px;
  color: #ffffff;
  background-color: #ff285d;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-flex;
}

/* a.video:after {
  content: "►";
  margin-left: 2px;
  margin-top: auto;
} */

a.ref-link {
  margin-left: 10px;
  color: #ffffff;
  background-color: #185abc;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-flex;
}

#root {
  margin: 0 auto;
  height: 100%;
}

body {
  background-color: #1b1b1b;
  color: #ffffff;
  height: 100vh;
}
